<div class="navbar"> 
    <h3>Temporary development links</h3>          
    <ul class="nav navbar-nav">
        <li>@Html.ActionLink("Childcare Attendance", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })</li>
        <li>@Html.ActionLink("Providers", "Index", "Providers")</li>
        <li>@Html.ActionLink("Users", "Index", "Users")</li>

        <li> @Html.ActionLink("Children", "Index", "Children")</li>
        <li> @Html.ActionLink("Child Guardians", "Index", "ChildGuardians")</li>

        <li>@Html.ActionLink("Roles", "Index", "Roles")</li>
        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
        <li>@Html.ActionLink("About", "About", "Home")</li>
        <li><a href="https://drive.google.com/drive/shared-with-me">Google Drive Stuff &raquo;</a></li>
    </ul>
    @Html.Partial("_LoginPartial")
</div>

