@model CC1.Models.ccChild

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>ccChild</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Surname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Surname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OtherNames)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OtherNames)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BirthDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BirthDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedUserId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedUserId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UpdateUserId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UpdateUserId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UpdateDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UpdateDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TRTimestamp)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TRTimestamp)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.user.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.user.FirstName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ChildId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
