@model CC1.Models.attendance

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>attendance</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SignInTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SignInTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SignInUserId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SignInUserId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SignOutTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SignOutTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SignOutUserId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SignOutUserId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Comment)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Comment)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsLocked)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsLocked)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserStatusId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserStatusId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Absent)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Absent)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UpdateDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UpdateDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TRTimestamp)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TRTimestamp)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ccChild.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ccChild.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.provider.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.provider.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.user.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.user.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.user1.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.user1.FirstName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.AttendanceId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
